@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// variables

$cl-cyan: hsl(179, 62%, 43%);
$cl-bright-yellow: hsl(71, 73%, 54%);
$cl-light-gray: hsl(204, 43%, 93%);
$cl-grayish-blue: hsl(218, 22%, 67%);

$ff-primary: "Karla", sans-serif;
$fw-base: 400;
$fw-bold: 700;

// globals and resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $ff-primary;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
